<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/product-add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Toodete nimekiri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let product of products, let i = index"
    [routerLink]="['/product-view', i]"  >
      <ion-avatar>
        <img src="{{ product.imageSrc }}" />
      </ion-avatar>
      <div class="displayName">{{ product.name }}</div>
    </ion-item>
  </ion-list>

</ion-content>
